html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
/* body {
  margin: 0;
  display: grid;
  grid-template-areas:
    'nav'
    'hero'
    'programs';

  grid-template-rows: 15vmin 100vmin 70vmin;
  grid-template-columns: 1fr;
} */

.gridTest {
  grid-area: programs;
  background-color: yellow;
}
.gridHead {
  grid-area: nav;
}
